*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,#root{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
}

input{
  width: 100%;
}

.container{
  width: 80%;
  height: 80vh;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.range{
  width: 100%;
  height: 10%;
}

.range-inp{
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: rgb(226, 226, 226);
  overflow: hidden;
}

.line{
  width: 0;
  height: 100%;
  background-color: rgb(55, 255, 0);
  transition: .5s;
}

.question{
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

.question h1{
  font-size: 20px;
}

.answers{
  width: 100%;
  height: 40vh;
}

.linkUl{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.link{
  width: 45%;
  height: 50px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
  letter-spacing: 2px;
  /* font-size: 150%; */
  font-size: 1.7vw;
  color: #525454;
  border: none;
  outline: none;
  padding-left: 15px;
  white-space: nowrap;
}

.hatuk{
  font-size: 1vw;
  white-space: wrap;
}

.div{
  width: auto;
  min-width: 270px;
  padding: 5px;
  height: 70px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.hatukDiv{
  width: 100%;
}

.end{
  width: 90%;
  max-width: 500px;
  height: 400px;
  background-color: white;
  background-size: cover; 
  background-position: center;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.end h1{
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.end button{
  width: 150px;
  height: 40px;
  background-color: #E60064;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.end button a{
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end button:active{
  transform: scale(0.9);
}

.title{
  text-align: center;
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
}

.block{
  display: flex;
}

.none{
  display: none;
}


.none{
  display: none !important;
}

.letter{
  width: 50px;
  pointer-events: none;
}

.harc{
  width: 100%;
}